@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url(../fonts/Roboto-Bold.ttf) format("TrueType");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: transparent url(../assets/summer-bg.jpg) 50% 50%/cover no-repeat;
    backdrop-filter: blur(5px);
    transition: background-image 0.5s;
}
.title{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #e75805;
}

.soundsContainer{
    display: flex;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    .soundContainer{
        display: flex;
        height: 220px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .soundContainer input[type='range']{
        height: 10px;
        display: none;
    }
    .sound {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon{
            display: block;
            width: 50px;
            height: 50px;
            transition: background-image 0.5s;
        }
        
        &.active .icon{
            background-image: url(../assets/icons/pause.svg);
        }
        
        &.active ~ input[type='range']{
            display: block;
        }

    }

    .rainy {
        background: url(../assets/rainy-bg.jpg) no-repeat 50% 50%/cover;
        .icon{
            background: url(../assets/icons/cloud-rain.svg) 50% 50%/contain no-repeat;
        }
    }
    .winter {
        background: url(../assets/winter-bg.jpg) no-repeat 50% 50%/cover;
        .icon{
            background: url(../assets/icons/cloud-snow.svg) 50% 50%/contain no-repeat;
        }
    }
    .summer {
        background: url(../assets/summer-bg.jpg) no-repeat 50% 50%/cover;
        .icon{
            background: url(../assets/icons/sun.svg) 50% 50%/contain no-repeat;
        }
    }
    
}
@media screen and (max-width: 620px){
    .soundsContainer{
        flex-direction: column;
        height: auto;
    }
    .soundContainer{
        margin-bottom: 20px; 
    }
}